:root {
  --clr-pri-dark-cyan: hsl(158, 36%, 37%);
  --clr-pri-cream: hsl(30, 38%, 92%);

  --clr-neu-very-dark-blue: hsl(212, 21%, 14%);
  --clr-neu-dark-grayish-blue: hsl(228, 12%, 48%);
  --clr-neu-white: hsl(0, 0%, 100%);

  --font-family-serif: "Fraunces", serif;
  --font-family-sans-serif: "Montserrat", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  font: inherit;
}

img {
  display: block;
  max-width: 100%;
}

body {
  min-height: 100vh;
  display: grid;
  place-items: center;

  font-family: var(--font-family-sans-serif);
  font-size: 14px;

  background-color: var(--clr-pri-cream);
}

.card {
  max-width: 90%;
}

.img-container {
  background-image: url("./images/image-product-mobile.jpg");
  background-size: cover;
  background-position: center top;
  min-height: 300px;
  border-radius: 1rem 1rem 0 0;
}

.content-container {
  background-color: var(--clr-neu-white);
  border-radius: 0 0 1rem 1rem;
  padding: 1.5rem;
}

h2 {
  font-size: 1.15rem;
  opacity: 0.9;
  color: var(--clr-neu-dark-grayish-blue);
  letter-spacing: 0.5rem;
  margin-bottom: 1rem;
}

h1 {
  font-family: var(--font-family-serif);
  font-size: 2rem;
  font-weight: 700;
  color: var(--clr-neu-very-dark-blue);
  margin-bottom: 1rem;
}

p {
  font-size: 14px;
  opacity: 0.9;
  color: var(--clr-neu-dark-grayish-blue);
  margin-bottom: 1rem;
  line-height: 1.5rem;
}

.price-container {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-bottom: 1rem;
}

h3 {
  font-family: var(--font-family-serif);
  font-size: 2rem;
  font-weight: 700;
  color: var(--clr-pri-dark-cyan);
}

h4 {
  font-size: 16px;
  opacity: 0.9;
  color: var(--clr-neu-dark-grayish-blue);
  text-decoration: line-through;
}

.btn {
  width: 100%;
  padding: 1rem;
  border-radius: 0.5rem;
  border: 0px;
  background-color: var(--clr-pri-dark-cyan);
  color: var(--clr-neu-white);
  font-size: 1rem;
  font-weight: 700;
}

.btn:hover {
  background-color: var(--clr-neu-very-dark-blue);
  cursor: pointer;
}

@media (min-width: 600px) {
  .card {
    max-width: 650px;

    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .img-container {
    background-image: url("./images/image-product-desktop.jpg");
    border-radius: 1rem 0 0 1rem;
  }

  .content-container {
    padding: 2.5rem;
    border-radius: 0 1rem 1rem 0;
  }
}
